@import 'tailwindcss';
/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*Playwrite NO*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+NO:wght@100..400&display=swap');
/*Playfair Display*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



/*Define tus colores con @theme */
@theme {
  /*colores*/
  --color-rojo-principal: #690D11; /*  ESTA ES LA SINTAXIS CORRECTA DE V4 */

  /*fuentes*/
  --font-lato: 'Lato', sans-serif;
  --font-playwrite: 'Playwrite NO', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

.input {
  @apply w-full p-2 bg-gray-700 rounded text-white;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 text-white py-2 rounded;
}

@layer utilities {
  /* Define la animaci贸n de giro normal */
  @keyframes spin-slow {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
  }
  
  /* Define la animaci贸n de giro inverso */
  @keyframes spin-slow-reverse {
      from { transform: rotate(360deg); }
      to { transform: rotate(0deg); }
  }

  /* Aplica las animaciones con la clase de Tailwind */
  .animate-spin-slow {
      animation: spin-slow 20s linear infinite; /* 20 segundos de duraci贸n */
  }

  .animate-spin-slow-reverse {
      animation: spin-slow-reverse 20s linear infinite; /* 20 segundos de duraci贸n, inverso */
  }
}

@layer utilities {
  /* Define la animaci贸n de desplazamiento para la marquesina de socios */
  @keyframes scroll-partners {
      from { transform: translateX(0); }
      to { transform: translateX(-50%); } /* Desplaza hasta la mitad de los logos duplicados */
  }

  /* Aplica la animaci贸n */
  .animate-scroll-partners {
      animation: scroll-partners 30s linear infinite; /* 30 segundos de duraci贸n, lineal, infinito */
  }
}